<div class="container">
    <h1>Réserver équipement</h1>

    <form action="POST" action="/submit">
        <div class="input-block">
            <label for="type">Type</label>
            <select class="dropdown-menu" name="type" id="type">
                @for (type of equipmentTypes; track type) {
                    <option value="{{type?.id}}">{{ type?.name }}</option>
                }
            </select>
        </div>

        <div class="input-block">
            <label for="model">Modèle</label>
            <select class="dropdown-menu" name="model" id="model">
                @for (model of equipmentModels; track model) {
                    <option value="{{model?.id}}">{{ model?.name }}</option>
                }
            </select>
        </div>

        <div class="input-dates">
            <div class="input-block">
                <label for="startDate">Date de début</label>
                <input type="date" name="startDate" id="startDate">
            </div>
            <div class="input-block">
                <label for="endDate">Date de fin</label>
                <input type="date" name="endDate" id="endDate">
            </div>
        </div>

        <div>[availableAmount] exemplaires disponibles aux dates indiquées</div>
        
        <div class="input-block">
            <label for="amount">Quantité</label>
            <input type="number" name="amount" id="amount">
        </div>
        
        <a class="link-button-primary" href="" type="submit">
            Réserver
        </a>
        <a class="link-button-secondary" [routerLink]="['/']">
            Annuler
        </a>
    </form>
</div>
