<div class="container">
    <form class="formulaire" [formGroup]="formulaire" (ngSubmit)="onLogin()"> <!-- crochets = on passe une variable, parenthèses = -->
        <div class="form-field">
            <label>Email</label>
            <input placeholder="Ex. john.doe@email.com" formControlName="email">

            @if (formulaire.get('email')?.touched) {
                @if(formulaire.get('email')?.hasError('email')) {
                    <div class="error">Doit être une adresse mail</div> <!-- les mat-errors ne s'affichent de toute façon que si le champ est en erreur, sinon il sont invisibles. le @if sert juste à choisir le quel est le bon -->
                }
                @if (formulaire.get('email')?.hasError('required')) {
                    <div class="error">Le champ est obligatoire</div>
                }
            }
        </div>
        
        <div class="form-field">
            <label>Mot de Passe</label>
            <input formControlName="password">

            @if (formulaire.get('password')?.touched) {
                @if (formulaire.get('password')?.hasError('required')) {
                    <div class="error">Le champ est obligatoire</div>
                }
            }
        </div>

        <div class="form-button">
            <button class="link-button-primary" type="submit">
                Se connecter
            </button>
        </div>

        
    </form>


</div>