<div class="line-card">
    <div class="header">
        <div class="line-card-info">
            <div>
                <span class="id">{{loan()?.id}}</span> - 
                <span class="equipment">Equipement {{loan()?.equipment?.name}}</span>
                <span class="user">Utilisateur {{loan()?.user?.name}} {{loan()?.user?.surname}}</span>
            </div>

            <div>
                <span class="status">
                    @if (loan()?.returnDate) {
                        Cloturé
                    } @else if (true) {
                        Non Cloturé
                    }
                    
                </span> - 
            </div>

            <div>
                <span class="start-date">{{ loan()?.startDate }}</span> au 
                @if (loan()?.returnDate) {
                    <span class="end-date">{{ loan()?.returnDate }}</span>
                } @else {
                    <span class="end-date">{{ loan()?.endDate }}</span>
                }
                
            </div>
        </div>
        <div class="button-container">
            <a href="/loan{{ loan()?.id }}/edit">Modifier</a>
        </div>
    </div>
    <div class="body" >

    </div>
    
</div>
