<div class="container">
    <div class="page-header">
        <h1 class="username">Prénom NOM</h1>
    </div>
    <div class="page-content">
        <div class="equipments">
            <ul class="data-class-menu">
                @for (entry of dataClassEntries; track entry[0]) {
                    <li><button [ngClass]="{'active': showedList == entry[1]}" (click)="showList(entry[1])">{{ entry[1] }}</button></li>
                }
            </ul>

            <div class="cards-grid">
                @switch (showedList) {
                    @case (dataClass.EQUIPMENTS) {
                        @for (equipment of allEquipments(); track equipment) {
                            <admin-equipment-card [equipment]="equipment"></admin-equipment-card>
                        }
                    }
                    @case (dataClass.USERS) {
                        pas de users pour le moment
                    }
                    
                }
                
            </div>
        </div>
    </div>
    
</div>
