<div class="container">
    <h1>Réserver équipement</h1>

    <form class="formulaire"  [formGroup] = "form">

        <!-- Menu Type -->
        <div class="form-field">
            <label for="type">Type</label>
            <select formControlName="type" class="dropdown-menu" name="type" id="type" (change)="onTypeChange($event)">
                @for (type of borrowableTypes(); track $index) {
                    <option value="{{type?.id}}">{{ type?.name }}</option>
                }
            </select>
        </div>

        <!-- Menu Modèle -->
        <div class="form-field">
            <label for="model">Modèle</label>
            <select formControlName="model" class="dropdown-menu" name="model" id="model" (change)="onLoanDetailsChange()">
                @for (model of modelsOfType(); track $index) {
                    <option value="{{model?.id}}">{{ model?.name }}</option>
                }
            </select>
        </div>

        <!-- Sélecteur Dates -->
        <div class="input-dates">
            <div class="form-field">
                <label for="startDate">Date de début</label>
                <input type="date" name="startDate" id="startDate" formControlName="startDate" (change)="onLoanDetailsChange()">
                @if (form.get('startDate')?.touched) {
                    @if (form.get('startDate')?.hasError('required')) {
                        <div class="field-warning">Le champ est obligatoire</div>
                    }
                }
                @if (form.hasError('startIsPast') && form.get('startDate')?.touched) {
                    <div class="field-warning">La date de début ne peut pas être passée</div>
                }
            </div>
            <div class="form-field">
                <label for="endDate">Date de fin</label>
                <input type="date" name="endDate" id="endDate" formControlName="endDate" (change)="onLoanDetailsChange()">
                @if (form.get('endDate')?.touched) {
                    @if (form.get('endDate')?.hasError('required')) {
                        <div class="field-warning">Le champ est obligatoire</div>
                    }
                }
                @if (form.hasError('dateOrder') && form.get('startDate')?.touched && form.get('endDate')?.touched) {
                    <div class="field-warning">La date de fin doit être postérieure à la date de début</div>
                }
            </div>
        </div>

        <!-- Cohérence des dates -->
        

        <!-- @if (nbAvailable()) { -->
            <div>{{ nbAvailable() }} exemplaires disponibles aux dates indiquées</div>
        <!-- } -->
        
        <div class="form-field">
            <label for="amount">Quantité</label>
            <input type="number" min="1" name="amount" id="amount" formControlName="amount" (change)="onAmountChange($event)">
            @if (!isEnoughAvailable) {
                <div class="field-warning">stock insuffisant aux dates demandées</div>
            }
        </div>
        
        <div class="form-buttons">
            <button class="link-button-primary" type="button" (click)="onValidation()">
                Réserver
            </button>
            <a class="link-button-secondary" [routerLink]="['/']">
                Annuler
            </a>
        </div>
        
    </form>
</div>
