<div class="container">
    <h1>Réserver équipement</h1>

    <form type="POST" action="submit" [formGroup] = "form">

        <!-- Menu Type -->
        <div class="input-block">
            <label for="type">Type</label>
            <select formControlName="type" class="dropdown-menu" name="type" id="type" (change)="onTypeChange($event)">
                @for (type of equipmentTypes(); track $index) {
                    <option value="{{type?.id}}">{{ type?.name }}</option>
                }
            </select>
        </div>

        <!-- Menu Modèle -->
        <div class="input-block">
            <label for="model">Modèle</label>
            <select formControlName="model" class="dropdown-menu" name="model" id="model" (change)="onLoanDetailsChange()">
                @for (model of modelsOfType(); track $index) {
                    <option value="{{model?.id}}">{{ model?.name }}</option>
                }
            </select>
        </div>

        <!-- Sélecteur Dates -->
        <div class="input-dates">
            <div class="input-block">
                <label for="startDate">Date de début</label>
                <input type="date" name="startDate" id="startDate" formControlName="startDate" (change)="onLoanDetailsChange()">
            </div>
            <div class="input-block">
                <label for="endDate">Date de fin</label>
                <input type="date" name="endDate" id="endDate" formControlName="endDate" (change)="onLoanDetailsChange()">
            </div>
        </div>

        <!-- @if (nbAvailable()) { -->
            <div>{{ nbAvailable() }} exemplaires disponibles aux dates indiquées</div>
        <!-- } -->
        
        <div class="input-block">
            <label for="amount">Quantité</label>
            <input type="number" name="amount" id="amount">
        </div>
        
        <a class="link-button-primary" href="" type="submit">
            Réserver
        </a>
        <a class="link-button-secondary" [routerLink]="['/']">
            Annuler
        </a>
    </form>
</div>
