        <div class="container">
            <div class="page-header">
                <h1 class="username">{{ user()?.name }} {{ user()?.surname?.toUpperCase() }}</h1>
                <!-- <div> -->
                    <a class="link-button-primary" [routerLink]="['/edit-loan']">Nouvelle réservation</a>
                <!-- </div> -->
            </div>
            <div class="page-content">
                <div class="borrowed-equipments">
                    <div>Equipements loués</div>
                    <div class="cards-grid">
                        @for (loan of ongoingLoans(); track loan) {
                            <equipment-card [loan]="loan"></equipment-card>
                        }
                    </div>
                </div>
                <div class="reserved-equipments">
                    <div>Equipements réservés</div>
                    <div class="cards-grid">
                        @for (loan of plannedLoans(); track loan) {
                            <equipment-card [loan]="loan"></equipment-card>
                        }
                    </div>
                </div>
                <div class="returned-equipments">
                    <div>Emprunts cloturés</div>
                    <div class="cards-grid">
                        @for (loan of pastLoans(); track loan) {
                            <equipment-card [loan]="loan"></equipment-card>
                        }
                    </div>
                </div>
            </div>
            
        </div>