.page-header {
    display: flex;
    justify-content: space-between;
    margin: 1.4rem;
}
.page-header h1 {
font-size: 2rem;
font-weight: bolder;
}

.page-content {
    margin: 0 1.4rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.borrowed-equipments, 
.reserved-equipments {
    margin-top: 1rem;
}
.borrowed-equipments > div:first-child, 
.reserved-equipments > div:first-child {
    font-weight: bold;
    border-bottom: 2px solid var(--color-darker);
    padding-bottom: 0.2rem;
    margin-bottom: 0.5rem;
}