        <div class="container">
            <div class="page-header">
                <h1 class="username">Prénom NOM</h1>
                <!-- <div> -->
                    <a class="link-button-primary" routerLink="new-loan">Nouvelle réservation</a>
                <!-- </div> -->
            </div>
            <div class="page-content">
                <div class="borrowed-equipments">
                    <div>Equipements loués</div>
                    <div class="cards-grid">
                        @for (equipment of borrowedEquipments(); track equipment) {
                            <equipment-card [equipment]="equipment"></equipment-card>
                        }
                    </div>
                </div>
                <div class="reserved-equipments">
                    <div>Equipements réservés</div>
                    <div class="cards-grid">
                        @for (equipment of reservedEquipments(); track equipment) {
                            <equipment-card [equipment]="equipment"></equipment-card>
                        }
                    </div>
                </div>
            </div>
            
        </div>