        <div class="container">
            <div class="page-header">
                <h1 class="username">{{ user()?.name }} {{ user()?.surname?.toUpperCase() }}</h1>
                <!-- <div> -->
                    <a class="link-button-primary mobile-button" [routerLink]="['/edit-loan']">+<span class="desktop-ui">Nouvelle réservation</span></a>
                <!-- </div> -->
            </div>
            <div class="page-content">
                <div class="section borrowed">
                    <div>Emprunts en cours</div>
                    <div class="cards-grid">
                        @for (loan of ongoingLoans(); track loan) {
                            <loan-card [loan]="loan"></loan-card>
                        }
                    </div>
                </div>
                <div class="section reserved">
                    <div>Réservations</div>
                    <div class="cards-grid">
                        @for (loan of plannedLoans(); track loan) {
                            <loan-card [loan]="loan"></loan-card>
                        }
                    </div>
                </div>
                <div class="section returned">
                    <div>Emprunts cloturés</div>
                    <div class="cards-grid">
                        @for (loan of pastLoans(); track loan) {
                            <loan-card [loan]="loan"></loan-card>
                        }
                    </div>
                </div>
            </div>
            
        </div>