<div class="line-card">
    <div class="header">
        <mat-icon class="card-icon">{{ equipment()?.model?.type?.name | typeIcon }}</mat-icon>
        <!-- <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <rect width="18" height="13" x="3" y="4" rx="2"/>
            <path d="M1 20h22"/>
        </svg> -->
        <div class="line-card-info">
            <div>
                <span class="id">{{equipment()?.id}}</span> - 
                <span class="name">{{equipment()?.name}}</span> - 
                <span class="model">{{equipment()?.model?.name}}</span>
            </div>
            <div>
                <span class="status">{{ equipment()?.status }}</span>
                @if (lastLoan() && !lastLoan()?.returnDate) {
                    <span class="borrower-id"> - Utilisateur {{ lastLoan()?.user?.id }}</span> - 
                    <span class="start-date">{{ lastLoan()?.startDate }}</span> au 
                    <span class="end-date">{{ lastLoan()?.endDate }}</span>
                }
            </div>
            <div>
                <span class="condition">{{equipment()?.condition}}</span>
            </div>
        </div>
        <div class="button-container">
            <!-- <button type="button" (click)="">v</button> -->
        </div>
    </div>
    <div class="body" >

    </div>
    
</div>
