.line-card {
    padding: 1rem;
    border: 1px solid var(--color-darker);
    border-radius: 0.5rem;
    background-color: var(--color-lighter);
    margin-bottom: 0.5rem;
}
.line-card:hover {
    box-shadow: 0rem 0.2rem 0.5rem var(--color-dark);
    /* background-color: var(--color-light); */
}

.header {
    display: flex;
    flex-direction: row;
}

.card-icon {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    fill: none;
    stroke: var(--color-darker);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

.line-card-info {
    margin-left: 1rem;
}


