:root {
    --color-darkest: rgb(15, 15, 15);
    --color-darker: #373737ff;
    --color-dark: rgb(84, 84, 84);
    --color-accent: #ff5d2dff;
    --color-light: rgb(196, 196, 196);
    --color-lighter: rgb(230, 230, 230);
    --color-warning: rgb(200, 0, 0);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-light);
    font-size: 80%;
}

body {
    margin: 0;
}

header{
  background-color: var(--color-darker);
}
header .navbar {
    /* width: 100%; */
    margin: 0 20px;
    color: var(--color-lighter);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

header .burger {
  color: var(--color-light);
}

main {
  padding: 2rem 0;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.link-button-primary {
    border: 0;
    background-color: var(--color-accent);
    padding: 0.6rem 1rem;
    border-radius: 50px;
    text-decoration: none;
    color: var(--color-lighter);
    font-weight: bolder;
    display: inline-flex;
    align-items: center;
}
.link-button-primary:hover {
    background-color: var(--color-darker);
    /* color: var(--text-color-02); */
}
.link-button-primary > svg {
  margin-right: 0.6rem;
  width: 2rem;
  height: 2rem;
  fill: var(--color-lighter);
}

.link-button-secondary {
    border: 0;
    background-color: var(--color-dark);
    padding: 0.6rem 1rem;
    border: 0 solid black;
    border-radius: 50px;
    text-decoration: none;
    color: var(--color-lighter);
    font-weight: bolder;
    display: inline-flex;
    align-items: center;
}
.link-button-secondary:hover {
    background-color: var(--color-accent);
    /* color: var(--text-color-02); */
}
.link-button-secondary > svg {
  margin-right: 0.6rem;
  width: 2rem;
  height: 2rem;
  fill: var(--color-lighter);
}


/* Gestion de l'apparence des notifications */
.mdc-snackbar {
  &.valid .mat-mdc-snackbar-surface {
    background-color: rgb(0, 182, 0);
  }
  &.info .mat-mdc-snackbar-surface {
    background-color: blue;
  }
  &.warning .mat-mdc-snackbar-surface {
    background-color: orange;
  }
  &.error .mat-mdc-snackbar-surface {
    background-color: red;
  }
}
.pop-up {
  &.valid .mat-mdc-snackbar-surface {
    background-color: green;
  }
  &.info .mat-mdc-snackbar-surface {
    background-color: blue;
  }
  &.warning .mat-mdc-snackbar-surface {
    background-color: orange;
  }
  &.error .mat-mdc-snackbar-surface {
    font-size: 0.8rem;
    font-style: italic;
    /* color: var(--color-accent); */
    background-color: red;
  }
}


/* FORMULAIRES */
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  min-width: 250px;
  max-width: 500px;
  width: 100%;
  margin: 1em;

  .mdc-button {
    width: fit-content;
    min-width: 200px;
  }

  .form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    
    label {
      margin-bottom: 0.4rem;
      color: var(--color-dark);
    }

    input, select, textarea {
      /* height: 2rem; */
      padding: 0.6rem;
      border: 0px solid var(--color-dark);
      border-radius: 4px;
      font-weight: bold;
      color: var(--color-dark);
    }
    input.error {
      color: var(--color-warning);
    }
    textarea {
      height: 10rem;
    }

    .field-warning {
      margin-top: 0.2rem;
      font-size: 0.8rem;
      font-style: italic;
      color: var(--color-accent);
    }
  }

  .form-buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}

.tags {
  margin-top: 0.5rem;

  > .tag {
    border-radius: 50px;
    padding: 0.3rem 0.5rem;
    background-color: var(--color-dark);
    color: var(--color-lighter);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
  }
}


@media (max-width: 768px) {
  h1,h2 {
    text-align: center;
  }
  
}
