<div class="card">
    <!-- <img src="equipment().icon" alt="icône">  -->
    <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <rect width="18" height="13" x="3" y="4" rx="2"/>
        <path d="M1 20h22"/>
    </svg>
    <div class="equipment-name">equipment().model</div>
    <div class="equipment-loan-date">equipment().model</div>
    <div class="card-button-container">
        <a class="card-button" routerLink="/equipment/{{equipment()?.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M20 3H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-9 14H5v-2h6zm8-4H5v-2h14zm0-4H5V7h14z"/>
            </svg>
        </a> <!--le ? signifie que si l'objet existe on affiche id, sinon on affiche rien-->
        <a class="card-button" routerLink="/equipment/{{equipment()?.id}}/request">
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24">
                <path d="m20.34 9.32l-14-7a3 3 0 0 0-4.08 3.9l2.4 5.37a1.06 1.06 0 0 1 0 .82l-2.4 5.37A3 3 0 0 0 5 22a3.14 3.14 0 0 0 1.35-.32l14-7a3 3 0 0 0 0-5.36Zm-.89 3.57l-14 7a1 1 0 0 1-1.35-1.3l2.39-5.37a2 2 0 0 0 .08-.22h6.89a1 1 0 0 0 0-2H6.57a2 2 0 0 0-.08-.22L4.1 5.41a1 1 0 0 1 1.35-1.3l14 7a1 1 0 0 1 0 1.78"/>
            </svg>
        </a>
    </div>
</div>
